<!DOCTYPE html>
<html>
	<head>
		<title>Heladeria "Alberto"</title>
		<script type="text/javascript" src="/jquery-3.2.1(1).js"></script>
		<script type="text/javascript" src="/bootstrap.bundle.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap.css"></link>
		<link rel="stylesheet" type="text/css" href="/estilos.css"></link>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Heladeria "Alberto"</h1>
			</div>
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link active" href="/">Home</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/sabores">Sabores</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/sucursales">Sucursales</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/nosotros">Nosotros</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/contacto">Contacto</a>
			  </li>
			</ul>
			<div class="row">
				<div class="col-3">
					<ul>
					  <li class="nav-item">
					    <a class="nav-link active" href="/">Home</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/sabores">Sabores</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/sucursales">Sucursales</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/nosotros">Nosotros</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/contacto">Contacto</a>
					  </li>
					</ul>
				</div>
				<div class="col-9 este">
					<p>Nuestros Helados</p>
					<img src="/hela.jpg"></img>
				</div>
			</div>
			<footer>
			<div class="row">
				<div class="col-5"></div>
				<div class="col-2">
					<p>Heladerias "Alberto"</p>
				</div>
				<div class="col-5"></div>
			</div>
			</footer>
		</div>
	</body>


</html>